<div class="table-responsive">
    <table class="table">
        <tr>
            {{partial "pods/header"}}
        </tr>
        {{#each pods}}
            {{partial "pods/row"}}
        {{/each}}
    </table>
</div>
