<div class="row">
    <div class="col-md-12">
        <span class="h1">{{title}}</span>

        <span class="pull-right">
            <button type="button" class="btn btn-default" {{action updateFeed}}>Update Feed</button> <button type="button" class="btn btn-default" {{action delete}}>Delete</button>
        </span>
    </div>
</div> 

{{outlet}}